   @font-face {
      font-family: 'Frangklin';
      src: url("mollykbarron.github.io/fonts/Frangklin.ttf") format('truetype');
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    }
    @font-face {
      font-family: 'Oldenburg';
      src: url("mollykbarron.github.io/Oldenburg-Regular.ttf") format('truetype');
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    }
nav ul, footer ul {
    font-family:'Oldenburg', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
     body {
        background-image: url("/2021mbarron/img/quietCity.jpg");
         background-attachment: fixed;
         background-size: cover;
      }
    title {
      font-family: "Frangklin", "Book Antiqua", Palatino, serif;
      color: #FEC601;
      font-size: 40px;
      text-align: center;
      text-shadow: 1px 1px 2px black;
    }
   h1 {
      font-family: Oldenburg, "Book Antiqua", Palatino, serif;
      font-size: 20px;
   }
    p {
      font-family: Oldenburg, "Book Antiqua", Palatino, serif;
      font-size: 20px;
    }
    li {
      /*font-family: Oldenburg, "Book Antiqua", Palatino, serif;*/
      font-size: 20px;
      list-style-type: none;
    }
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
